#body img.badges {
  display: inline;
  margin: 0;
}

h6,
footer.footline {
  font-size: 0.7rem;
  line-height: 110% !important;
  margin-top: 0.5rem !important;
}

#logo {
  display: block;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
