name: goreleaser

on:
  pull_request:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: go-setup
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: install snapcraft
        run: |
          sudo apt-get update
          sudo apt-get -yq --no-install-suggests --no-install-recommends install snapcraft
          mkdir -p $HOME/.cache/snapcraft/download
          mkdir -p $HOME/.cache/snapcraft/stage-packages
      - name: goreleaser-setup
        uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          install-only: true
      - if: startsWith(github.ref, 'refs/tags/')
        name: release a new version
        run: |
          snapcraft login --with <(echo "${{ secrets.SNAPCRAFT_LOGIN }}")
          make release "tag=${GITHUB_REF#refs/tags/}"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN_GORELEASER }}
      - if: startsWith(github.ref, 'refs/tags/') == false
        name: test releasing a snapshot version
        run: make release SNAPSHOT=1 tag=Unreleased
      - if: startsWith(github.ref, 'refs/tags/')
        name: trigger Netlify deploy with new release
        run: |
          curl -vs -X POST "https://api.netlify.com/build_hooks/${NETLIFY_HOOK}" \
            --data-urlencode "trigger_title=triggered+by github actions (tag: ${GITHUB_REF#refs/tags/})" \
            --data-urlencode "trigger_branch=main"
        env:
          NETLIFY_HOOK: ${{ secrets.NETLIFY_HOOK }}
